In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

In [26]:
df_races = pd.read_json("races_new_test.json")
links = df_races['Link'].unique()

In [32]:
allRows = []
for link in links[:5]:
    url = f"https://scores.collegesailing.org/sailors/{link}/"
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')

    sailorData = json.loads(soup.find('meta',attrs={'name': 'ts:data'})['content'])
    allRows.append([link, sailorData['name'],sailorData['first_name'],sailorData['last_name'],sailorData['gender'],sailorData['year'],sailorData['school'].split("/")[2], sailorData['id'], sailorData['external_id']])
    
df_sailor_info = pd.DataFrame(allRows, columns=['link', 'name', 'first_name', 'last_name', 'gender', 'year', 'school','id', 'external_id'])
df_sailor_info

,link,name,first_name,last_name,gender,year,school,id,external_id
0,campbell-deliscu,Campbell D'Eliscu,Campbell,D'Eliscu,M,2019,georgetown,3112221,27830
1,sean-segerblom,Sean Segerblom,Sean,Segerblom,M,2020,georgetown,3117220,29802
2,meaghan-macrae,Meaghan MacRae,Meaghan,MacRae,F,2018,georgetown,3109481,25661
3,claire-mohun,Claire Mohun,Claire,Mohun,F,2019,georgetown,3115481,28785
4,steven-leuck,Steven Leuck,Steven,Leuck,M,2020,charleston,3117488,30344

In [4]:
sailor_info = pd.read_json("sailor_data.json").dropna()
sailor_info

,link,name,first_name,last_name,gender,year,school,id,external_id
0,campbell-deliscu,Campbell D'Eliscu,Campbell,D'Eliscu,M,2019.0,georgetown,3112221.0,27830.0
1,sean-segerblom,Sean Segerblom,Sean,Segerblom,M,2020.0,georgetown,3117220.0,29802.0
2,meaghan-macrae,Meaghan MacRae,Meaghan,MacRae,F,2018.0,georgetown,3109481.0,25661.0
3,claire-mohun,Claire Mohun,Claire,Mohun,F,2019.0,georgetown,3115481.0,28785.0
4,steven-leuck,Steven Leuck,Steven,Leuck,M,2020.0,charleston,3117488.0,30344.0
...,...,...,...,...,...,...,...,...,...
12142,cwhitesell,Chloe Whitesell,Chloe,Whitesell,F,2028.0,citadel,277047.0,14551.0
12589,bradlee,Bradlee Anderson,Bradlee,Anderson,M,2028.0,citadel,277046.0,12183.0
12688,bhhrrrr,Hannah \u201cSic \u2018Em\u201d Wickham,Hannah \u201cSic \u2018Em\u201d,Wickham,F,2027.0,citadel,3108690.0,24339.0
13180,zestyhesty,Thomas Hester,Thomas,Hester,M,2027.0,citadel,277042.0,14527.0
13342,ander,Ander Alonso,Ander,Alonso,M,2027.0,citadel,3107573.0,24029.0