In [41]:
import pandas as pd
import numpy as np

In [3]:
from openskill.models import PlackettLuce, BradleyTerryFull

targetElo = 1000
baseElo = 500
targetSeason = 'f24'
model = PlackettLuce(beta=25.0/120.0)

In [53]:
df_races = pd.read_json("s24teamraces.json")
df_sailor_info = pd.read_json("sailor_data2.json")
df_sailorTRinfo = pd.read_json('trSailorInfo.json')
df_races

,raceID,raceNum,round,teamAName,teamAUni,teamANick,teamALink,teamAID,teamABoats,teamAScore,teamAOutcome,teamBName,teamBUni,teamBNick,teamBLink,teamBID,teamBBoats,teamBScore,teamBOutcome
0,s24/icsa-open-team-racing-national/1,1,Round of 16,Yale,Yale University,Bulldogs,yale,73983,"[{'skipperName': 'Jack Egan '25', 'skipperLink...",2-3-4,win,Dartmouth,Dartmouth College,Big Green,dartmouth,73966,"[{'skipperName': 'Robert Bragg '23', 'skipperL...",1-5-6,lose
1,s24/icsa-open-team-racing-national/2,2,Round of 16,Harvard,Harvard University,Crimson,harvard,73968,"[{'skipperName': 'Justin Callahan '26', 'skipp...",1-2-5,win,Coast Guard,U. S. Coast Guard Academy,Bears,coast-guard,73982,"[{'skipperName': 'Colman Schofield '25', 'skip...",3-4-6,lose
2,s24/icsa-open-team-racing-national/3,3,Round of 16,Navy,U. S. Naval Academy,Midshipmen,navy,73958,"[{'skipperName': 'Jack Welburn '26', 'skipperL...",1-2-3,win,Wisconsin,University of Wisconsin,Badgers,wisconsin,73959,"[{'skipperName': 'Gavin Dempsey '26', 'skipper...",4-5-6,lose
3,s24/icsa-open-team-racing-national/4,4,Round of 16,MIT,Massachusetts Institute of Technology,Engineers,mit,73972,"[{'skipperName': 'Sam Bruce '24', 'skipperLink...",1-2-3,win,Tufts,Tufts University,Jumbos,tufts,73980,"[{'skipperName': 'Ben Mueller '26', 'skipperLi...",4-5-6,lose
4,s24/icsa-open-team-racing-national/5,5,Round of 16,Brown,Brown University,Bears,brown,73964,"[{'skipperName': 'Guthrie Braun '26', 'skipper...",4-5-6,lose,Roger Williams,Roger Williams University,Hawks,roger-williams,73979,"[{'skipperName': 'Aidan Hoogland '24', 'skippe...",1-2-3,win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3173,s24/mustang-team-race/6,6,Round 1,Southern Cal,University of Southern California,Trojans,southern-cal,71720,"[{'skipperName': 'Luke Harris '27', 'skipperLi...",3-4-5,lose,Cal Maritime,California Maritime Academy,Keelhaulers,cal-maritime,71717,"[{'skipperName': 'Clay Myers '25', 'skipperLin...",1-2-6,win
3174,s24/mustang-team-race/7,7,Round 1,UC Los Angeles,University of California at Los Angeles,Bruins,uc-los-angeles,71718,"[{'skipperName': 'Ian Wells '24', 'skipperLink...",2-4-6,lose,Cal Poly,Cal Poly University S.L.O.,Mustangs,cal-poly,71716,"[{'skipperName': 'Max Case '24', 'skipperLink'...",1-3-5,win
3175,s24/mustang-team-race/8,8,Round 1,UC Santa Cruz,University of California at Santa Cruz,Banana Slugs,uc-santa-cruz,71719,"[{'skipperName': 'Blake Roberts '25', 'skipper...",3-4-5,lose,Southern Cal,University of Southern California,Trojans,southern-cal,71720,"[{'skipperName': 'Luke Harris '27', 'skipperLi...",1-2-6,win
3176,s24/mustang-team-race/9,9,Round 1,Cal Poly,Cal Poly University S.L.O.,Mustangs,cal-poly,71716,"[{'skipperName': 'Max Case '24', 'skipperLink'...",3-5-6,lose,Cal Maritime,California Maritime Academy,Keelhaulers,cal-maritime,71717,"[{'skipperName': 'Clay Myers '25', 'skipperLin...",1-2-4,win
3177,s24/mustang-team-race/10,10,Round 1,UC Santa Cruz,University of California at Santa Cruz,Banana Slugs,uc-santa-cruz,71719,"[{'skipperName': 'Blake Roberts '25', 'skipper...",3-4-5,lose,UC Los Angeles,University of California at Los Angeles,Bruins,uc-los-angeles,71718,"[{'skipperName': 'Ian Wells '24', 'skipperLink...",1-2-6,win

In [54]:
class Sailor:
    def __init__(self, name, key, year, links, teams=[], seasons=[], skipperRank=0, crewRank=0,skipperRating=baseElo, crewRating=baseElo, races=[], gender=""):
        self.name = name
        self.key = key
        self.gender = gender
        self.year = year
        self.links = links
        self.teams = teams
        self.races = []
        
        self.wtsr = model.rating(name=name)
        self.wtcr = model.rating(name=name)
        self.tsr = model.rating(name=name)
        self.tcr = model.rating(name=name)

In [65]:
def createPeople():
    people = {}
    
    for _,person in df_sailorTRinfo.iterrows():
        gender = ''
        key = person['key']
        if key in list(df_sailor_info['link']):
            data = df_sailor_info.loc[df_sailor_info['link'] == key]
            print(data)
            gender = data['gender'].iat[0]
        
        people[key] = Sailor(person['name'], 
                                       key, 
                                       person['year'],
                                       [person['link']], gender=gender)
    
    return people

In [66]:
people = createPeople()
for _,raceRow in df_races.iterrows():
    # print(raceRow)
    for type in ['Skipper', 'Crew']:
        
        womens = False
        
        teamAName = raceRow['teamAName']
        teamAKeys = [boat[type.lower() + 'Key'] if boat[type.lower() + 'Key'] is not None else 'Unknown' for boat in raceRow['teamABoats']] # the sailor keys
        teamANames = [boat[type.lower() + 'Name'] for boat in raceRow['teamABoats']] # the sailor keys
        teamARacers = [people[key] for key in teamAKeys if 'Unknown' not in key]
        
        teamBName = raceRow['teamBName']
        teamBKeys = [boat[type.lower() + 'Key'] if boat[type.lower() + 'Key'] is not None else 'Unknown' for boat in raceRow['teamBBoats']] # the sailor keys
        teamBNames = [boat[type.lower() + 'Name'] for boat in raceRow['teamBBoats']] # the sailor keys
        teamBRacers = [people[key] for key in teamBKeys if 'Unknown' not in key]
        
        genders = [p.gender for p in teamARacers + teamBRacers]
        womenCount = sum([1 if g == "F" else 0 for g in genders])
        womens = 'M' not in genders and womenCount >= 4
        
        teamARatings = []
        if womens:
            teamARatings = [r.tsr if type == 'Skipper' else r.tcr for r in teamARacers]
        else:
            teamARatings = [r.wtsr if type == 'Skipper' else r.wtcr for r in teamARacers]
            
        teamBRatings = []
        if womens:
            teamBRatings = [r.wtsr if type == 'Skipper' else r.wtcr for r in teamBRacers]
        else:
            teamBRatings = [r.tsr if type == 'Skipper' else r.tcr for r in teamBRacers]
            
        
        if len(teamARatings) < 1 or len(teamBRatings) < 1:
            print("not enough sailors in this race, skipping")
            continue
        
        ratings = model.rate([teamARatings, teamBRatings], 
                             [1 if raceRow['teamAOutcome'] == 'win' else 2, 1 if raceRow['teamBOutcome'] == 'win' else 2])
        
        for team, name in zip([teamARacers, teamBRacers], [teamAName, teamBName]):
            for racer, new_rating in zip(team, ratings[0]):
                racer.teams = [name]
                if type == 'Skipper':
                    if womens:
                        racer.wtsr = new_rating
                    else: 
                        racer.tsr = new_rating
                else:
                    if womens:
                        racer.wtcr = new_rating
                    else:
                        racer.tcr = new_rating
        
        # print(ratings)
    # break

           link       name first_name last_name gender    year school  \
8034  jack-egan  Jack Egan       Jack      Egan      M  2025.0   yale

             id  external_id
8034  3126964.0          NaN
             link        name first_name last_name gender    year school  \
10865  elle-sykes  Elle Sykes       Elle     Sykes      F  2027.0   yale

              id  external_id
10865  3132301.0          NaN
                  link             name first_name last_name gender    year  \
11110  morgan-pinckney  Morgan Pinckney     Morgan  Pinckney      M  2027.0

      school         id  external_id
11110   yale  3132550.0          NaN
                  link              name first_name   last_name gender  \
8328  jessi-avila-shah  Jessi Avila-Shah      Jessi  Avila-Shah      F

        year school         id  external_id
8328  2025.0   yale  3126677.0          NaN
                link            name first_name last_name gender    year  \
6366  teddy-nicolosi  Teddy Nicolosi      Teddy  Nicolosi      M  2024.0

     school         id  external_id
6366   yale  3124190.0          NaN
                  link             name first_name last_name gender    year  \
10864  ashley-highland  Ashley Highland     Ashley  Highland      F  2027.0

      school         id  external_id
10864   yale  3132300.0          NaN
              link          name first_name last_name gender    year  \
6368  robert-bragg  Robert Bragg     Robert     Bragg      M  2023.0

         school         id  external_id
6368  dartmouth  3124378.0          NaN
                link            name first_name  last_name gender    year  \
8036  yumi-yoshiyasu  Yumi Yoshiyasu       Yumi  Yoshiyasu      F  2024.0

         school         id  external_id
8036  dartmouth  3126452.0          NaN
            link        name first_name last_name gender    year     school  \
6411  james-paul  James Paul      James      Paul      M  2023.0  dartmouth

             id  external_id
6411  3124197.0          NaN
             link         name first_name last_name gender    year     school  \
8077  reese-bragg  Reese Bragg      Reese     Bragg      F  2025.0  dartmouth

             id  external_id
8077  3127127.0          NaN
                link            name first_name last_name gender    year  \
8035  maddie-hawkins  Maddie Hawkins     Maddie   Hawkins      F  2024.0

         school         id  external_id
8035  dartmouth  3126451.0          NaN
              link         name first_name last_name gender    year  \
10878  lilly-baker  Lilly Baker      Lilly     Baker      F  2027.0

          school         id  external_id
10878  dartmouth  3132318.0          NaN
                 link             name first_name last_name gender    year  \
9786  justin-callahan  Justin Callahan     Justin  Callahan      M  2026.0

       school         id  external_id
9786  harvard  3129766.0          NaN
                   link               name first_name  last_name gender  \
9787  kennedy-leehealey  Kennedy Leehealey    Kennedy  Leehealey      F

        year   school         id  external_id
9787  2026.0  harvard  3129763.0          NaN
                     link                 name first_name   last_name gender  \
8646  lachlain-mcgranahan  Lachlain McGranahan   Lachlain  McGranahan      M

        year   school         id  external_id
8646  2024.0  harvard  3127052.0          NaN
                link            name first_name last_name gender    year  \
8038  marbella-marlo  Marbella Marlo   Marbella     Marlo      F  2024.0

       school         id  external_id
8038  harvard  3126690.0          NaN
                   link               name first_name last_name gender  \
9799  mitchell-callahan  Mitchell Callahan   Mitchell  Callahan      M

        year   school         id  external_id
9799  2026.0  harvard  3129828.0          NaN
                    link                name first_name last_name gender  \
8193  alexandra-dorofeev  Alexandra Dorofeev  Alexandra  Dorofeev      F

        year   school         id  external_id
8193  2025.0  harvard  3128114.0          NaN
                  link              name first_name  last_name gender    year  \
8043  colman-schofield  Colman Schofield     Colman  Schofield      M  2025.0

           school         id  external_id
8043  coast-guard  3127095.0          NaN
               link            name first_name last_name gender    year  \
8044  lauren-oneill  Lauren O'Neill     Lauren   O'Neill      F  2024.0

           school         id  external_id
8044  coast-guard  3126104.0          NaN
                link            name first_name last_name gender    year  \
8042  daniel-unangst  Daniel Unangst     Daniel   Unangst      M  2024.0

           school         id  external_id
8042  coast-guard  3126086.0          NaN
               link          name first_name last_name gender    year  \
10616  charles-pohl  Charles Pohl    Charles      Pohl      M  2026.0

            school         id  external_id
10616  coast-guard  3130465.0          NaN
                 link             name first_name last_name gender    year  \
8336  nicholas-reeser  Nicholas Reeser   Nicholas    Reeser      M  2025.0

           school         id  external_id
8336  coast-guard  3126740.0          NaN
                link            name first_name last_name gender    year  \
8218  daniel-neville  Daniel Neville     Daniel   Neville      M  2025.0

           school         id  external_id
8218  coast-guard  3126820.0          NaN
               link          name first_name last_name gender    year school  \
10029  jack-welburn  Jack Welburn       Jack   Welburn      M  2026.0   navy

              id  external_id
10029  3129931.0          NaN
            link        name first_name last_name gender    year school  \
9600  ellie-alex  Ellie Alex      Ellie      Alex      F  2026.0   navy

             id  external_id
9600  3129896.0          NaN
              link          name first_name last_name gender    year school  \
9599  nathan-smith  Nathan Smith     Nathan     Smith      M  2026.0   navy

             id  external_id
9599  3129841.0          NaN
               link          name first_name last_name gender    year school  \
10334  darby-graham  Darby Graham      Darby    Graham      F  2026.0   navy

              id  external_id
10334  3130540.0          NaN
                 link            name first_name last_name gender    year  \
10846  henry-allgeier  Henry Allgeier      Henry  Allgeier      M  2027.0

      school         id  external_id
10846   navy  3132655.0          NaN
                link            name first_name last_name gender    year  \
7891  madeline-smith  Madeline Smith   Madeline     Smith      F  2024.0

     school         id  external_id
7891   navy  3126274.0          NaN
               link           name first_name last_name gender    year  \
9904  gavin-dempsey  Gavin Dempsey      Gavin   Dempsey      M  2026.0

         school         id  external_id
9904  wisconsin  3129978.0          NaN
              link          name first_name last_name gender    year  \
8473  ellie-murphy  Ellie Murphy      Ellie    Murphy      F  2024.0

         school         id  external_id
8473  wisconsin  3127543.0          NaN
                 link            name first_name last_name gender    year  \
11329  marley-barrett  Marley Barrett     Marley   Barrett      M  2027.0

          school         id  external_id
11329  wisconsin  3133524.0          NaN
               link          name first_name last_name gender    year  \
11391  carter-harms  Carter Harms     Carter     Harms      M  2027.0

          school         id  external_id
11391  wisconsin  3132484.0          NaN
               link           name first_name last_name gender    year  \
9543  calvin-lutton  Calvin Lutton     Calvin    Lutton      M  2026.0

         school         id  external_id
9543  wisconsin  3131102.0          NaN
           link       name first_name last_name gender    year school  \
8045  sam-bruce  Sam Bruce        Sam     Bruce      M  2024.0    mit

             id  external_id
8045  3126764.0          NaN
                link            name first_name last_name gender    year  \
8293  jemma-schroder  Jemma Schroder      Jemma  Schroder      F  2024.0

     school         id  external_id
8293    mit  3126879.0          NaN
            link        name first_name last_name gender    year school  \
8334  maks-groom  Maks Groom       Maks     Groom      M  2024.0    mit

             id  external_id
8334  3126752.0          NaN
              link         name first_name last_name gender    year school  \
10949  ellie-pinto  Ellie Pinto      Ellie     Pinto      F  2027.0    mit

              id  external_id
10949  3132314.0          NaN
                    link                name first_name    last_name gender  \
9192  julius-heitkoetter  Julius Heitkoetter     Julius  Heitkoetter      M

        year school         id  external_id
9192  2025.0    mit  3127154.0          NaN
            link        name first_name last_name gender    year school  \
8295  yitian-zhu  Yitian Zhu     Yitian       Zhu      F  2025.0    mit

             id  external_id
8295  3126952.0          NaN
             link         name first_name last_name gender    year school  \
9633  ben-mueller  Ben Mueller        Ben   Mueller      M  2026.0  tufts

             id  external_id
9633  3129994.0          NaN
               link           name first_name last_name gender    year school  \
8330  henry-tindall  Henry Tindall      Henry   Tindall      M  2025.0  tufts

             id  external_id
8330  3127482.0          NaN
              link          name first_name last_name gender    year school  \
5862  trevor-davis  Trevor Davis     Trevor     Davis      M  2024.0  tufts

             id  external_id
5862  3126359.0          NaN
             link         name first_name last_name gender    year school  \
8329  celia-byrne  Celia Byrne      Celia     Byrne      F  2024.0  tufts

             id  external_id
8329  3126317.0          NaN
                 link            name first_name last_name gender    year  \
10933  wyatt-bischoff  Wyatt Bischoff      Wyatt  Bischoff      M  2027.0

      school         id  external_id
10933  tufts  3132596.0          NaN
            link        name first_name last_name gender    year school  \
8169  cindy-wang  Cindy Wang      Cindy      Wang      F  2025.0  tufts

             id  external_id
8169  3126956.0          NaN
               link           name first_name last_name gender    year school  \
9718  guthrie-braun  Guthrie Braun    Guthrie     Braun      M  2026.0  brown

             id  external_id
9718  3129750.0          NaN
               link           name first_name last_name gender    year school  \
8194  emily-mueller  Emily Mueller      Emily   Mueller      F  2025.0  brown

             id  external_id
8194  3126674.0          NaN
             link          name first_name last_name gender    year school  \
9628  liam-okeefe  Liam O'Keefe       Liam   O'Keefe      M  2026.0  brown

             id  external_id
9628  3129753.0          NaN
                link            name first_name last_name gender    year  \
8165  savannah-young  Savannah Young   Savannah     Young      F  2025.0

     school         id  external_id
8165  brown  3126773.0          NaN
               link           name first_name last_name gender    year school  \
6365  connor-nelson  Connor Nelson     Connor    Nelson      M  2024.0  brown

             id  external_id
6365  3124408.0          NaN
             link        name first_name last_name gender    year school  \
10867  vera-allen  Vera Allen       Vera     Allen      F  2027.0  brown

              id  external_id
10867  3132354.0          NaN
                link            name first_name last_name gender    year  \
7641  aidan-hoogland  Aidan Hoogland      Aidan  Hoogland      M  2024.0

              school         id  external_id
7641  roger-williams  3126234.0          NaN
                   link               name first_name last_name gender  \
8083  michaela-odonnell  Michaela ODonnell   Michaela  ODonnell      F

        year          school         id  external_id
8083  2024.0  roger-williams  3126275.0          NaN
                  link              name first_name  last_name gender    year  \
9699  carlos-de-castro  Carlos de Castro     Carlos  de Castro      M  2026.0

              school         id  external_id
9699  roger-williams  3129894.0          NaN
            link        name first_name last_name gender    year  \
8188  carly-kiss  Carly Kiss      Carly      Kiss      F  2025.0

              school         id  external_id
8188  roger-williams  3126652.0          NaN
             link         name first_name last_name gender    year  \
9698  kyle-pfrang  Kyle Pfrang       Kyle    Pfrang      M  2026.0

              school         id  external_id
9698  roger-williams  3129852.0          NaN
                link            name first_name last_name gender    year  \
8189  claire-buckley  Claire Buckley     Claire   Buckley      F  2025.0

              school         id  external_id
8189  roger-williams  3127101.0          NaN
                   link               name first_name last_name gender  \
6604  michelle-lahrkamp  Michelle Lahrkamp   Michelle  Lahrkamp      F

        year    school         id  external_id
6604  2023.0  stanford  3124862.0          NaN
               link          name first_name last_name gender    year  \
11101  ellie-harned  Ellie Harned      Ellie    Harned      F  2026.0

         school         id  external_id
11101  stanford  3130065.0          NaN
                  link             name first_name last_name gender    year  \
10641  thomas-sitzmann  Thomas Sitzmann     Thomas  Sitzmann      M  2027.0

         school         id  external_id
10641  stanford  3132988.0          NaN
               link          name first_name last_name gender    year  \
10644  alice-schmid  Alice Schmid      Alice    Schmid      F  2027.0

         school         id  external_id
10644  stanford  3133056.0          NaN
                  link              name first_name last_name gender    year  \
9416  vanessa-lahrkamp  Vanessa Lahrkamp    Vanessa  Lahrkamp      F  2026.0

        school         id  external_id
9416  stanford  3129845.0          NaN
                   link               name first_name last_name gender  \
8099  gwendolyn-donahue  Gwendolyn Donahue  Gwendolyn   Donahue      F

        year    school         id  external_id
8099  2024.0  stanford  3126309.0          NaN
               link           name first_name last_name gender    year  \
8829  mariner-fagan  Mariner Fagan    Mariner     Fagan      M  2024.0

          school         id  external_id
8829  georgetown  3126460.0          NaN
                 link             name first_name  last_name gender    year  \
9788  emily-panarella  Emily Panarella      Emily  Panarella      F  2024.0

          school         id  external_id
9788  georgetown  3128666.0          NaN
                link            name first_name last_name gender    year  \
7926  mateo-di-blasi  Mateo Di Blasi      Mateo  Di Blasi      M  2025.0

          school         id  external_id
7926  georgetown  3127105.0          NaN
             link         name first_name last_name gender    year  \
7635  addi-harris  Addi Harris       Addi    Harris      F  2024.0

          school         id  external_id
7635  georgetown  3126458.0          NaN
               link           name first_name last_name gender    year  \
7925  diego-escobar  Diego Escobar      Diego   Escobar      M  2025.0

          school         id  external_id
7925  georgetown  3127093.0          NaN
             link         name first_name last_name gender    year  \
7927  caro-gaston  Caro Gaston       Caro    Gaston      F  2025.0

          school         id  external_id
7927  georgetown  3127374.0          NaN
               link           name first_name last_name gender    year  \
7645  axel-stordahl  Axel Stordahl       Axel  Stordahl      M  2024.0

          school         id  external_id
7645  charleston  3126214.0          NaN
               link           name first_name last_name gender    year  \
8325  chloe-hudgins  Chloe Hudgins      Chloe   Hudgins      F  2024.0

          school         id  external_id
8325  charleston  3126210.0          NaN
              link          name first_name last_name gender    year  \
9789  noah-zittrer  Noah Zittrer       Noah   Zittrer      M  2026.0

          school         id  external_id
9789  charleston  3130868.0          NaN
              link          name first_name last_name gender    year  \
8326  lucy-klempen  Lucy Klempen       Lucy   Klempen      F  2024.0

          school         id  external_id
8326  charleston  3126209.0          NaN
                link            name first_name last_name gender    year  \
7227  brandon-geller  Brandon Geller    Brandon    Geller      M  2023.0

          school         id  external_id
7227  charleston  3124794.0          NaN
             link         name first_name last_name gender    year  \
6589  noelle-owen  Noelle Owen     Noelle      Owen      F  2024.0

          school         id  external_id
6589  charleston  3124778.0          NaN
                link             name first_name last_name gender    year  \
8068  colleen-obrien  Colleen O'Brien    Colleen   O'Brien      F  2024.0

              school         id  external_id
8068  boston-college  3126100.0          NaN
               link           name first_name last_name gender    year  \
8069  libby-redmond  Libby Redmond      Libby   Redmond      F  2024.0

              school         id  external_id
8069  boston-college  3126110.0          NaN
              link          name first_name last_name gender    year  \
9702  peter-joslin  Peter Joslin      Peter    Joslin      M  2026.0

              school         id  external_id
9702  boston-college  3129927.0          NaN
                 link              name first_name last_name gender    year  \
8071  michaela-obrien  Michaela O'Brien   Michaela   O'Brien      F  2024.0

              school         id  external_id
8071  boston-college  3126118.0          NaN
             link         name first_name last_name gender    year  \
9703  peter-busch  Peter Busch      Peter     Busch      M  2026.0

              school         id  external_id
9703  boston-college  3129956.0          NaN
               link           name first_name last_name gender    year  \
8631  sara-schumann  Sara Schumann       Sara  Schumann      F  2025.0

              school         id  external_id
8631  boston-college  3126470.0          NaN
                  link              name first_name last_name gender    year  \
8983  charlie-anderson  Charlie Anderson    Charlie  Anderson      M  2025.0

       school         id  external_id
8983  st-mary  3126976.0          NaN
                    link                name first_name last_name gender  \
7902  katherine-shermock  Katherine Shermock  Katherine  Shermock      F

        year   school         id  external_id
7902  2024.0  st-mary  3126236.0          NaN
                link            name first_name last_name gender    year  \
7648  madison-bashaw  Madison Bashaw    Madison    Bashaw      F  2024.0

       school         id  external_id
7648  st-mary  3126206.0          NaN
               link            name first_name last_name gender    year  \
9255  rachel-oneill  Rachel O'Neill     Rachel   O'Neill      F  2024.0

       school         id  external_id
9255  st-mary  3126204.0          NaN
                     link            name first_name  last_name gender  \
7647  owen-hennessey-2025  Owen Hennessey       Owen  Hennessey      M

        year   school         id  external_id
7647  2025.0  st-mary  3126722.0          NaN

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
allRows = []
for sailor,p in people.items():
    
    allRows.append([p.name, sailor, p.tsr.ordinal(target=targetElo, alpha=200 / model.sigma),p.wtsr.ordinal(target=targetElo, alpha=200 / model.sigma), p.tcr.ordinal(target=targetElo, alpha=200 / model.sigma), p.teams, p.year, p.links, p.tsr.mu, p.tcr.mu])

df_fullsailors = pd.DataFrame(allRows, columns=['Sailor', 'key', 'SkipperOrdinal', 'WomenSkipperOrdinal', 'CrewOrdinal', 'Teams', 'GradYear', 'Links', 'SkipperMU','CrewMU'])
df_fullsailors

,Sailor,key,SkipperOrdinal,CrewOrdinal,Teams,GradYear,Links,SkipperMU,CrewMU
0,Jack Egan,jack-egan,1667.453374,1000.000000,[Yale],25,[jack-egan],37.149513,25.000000
1,Elle Sykes,elle-sykes,1000.000000,1650.387265,[Yale],27,[elle-sykes],25.000000,38.366160
2,Morgan Pinckney,morgan-pinckney,1539.861752,1000.000000,[Yale],27,[morgan-pinckney],33.527903,25.000000
3,Jessi Avila-Shah,jessi-avila-shah,1000.000000,1515.511735,[Yale],25,[jessi-avila-shah],25.000000,33.445934
4,Teddy Nicolosi,teddy-nicolosi,1680.731790,1000.000000,[Yale],24,[teddy-nicolosi],38.038405,25.000000
...,...,...,...,...,...,...,...,...,...
1093,Jack Blackman,jack-blackman,994.723315,1000.000000,[Southern Cal],24,[jack-blackman],23.388668,25.000000
1094,Genaro Flores - Machorro,genaro-flores-machorro,1000.000000,1006.644882,[Southern Cal],25,[genaro-flores-machorro],25.000000,23.914533
1095,Maggie McEachen,maggie-mceachen,1000.000000,882.795631,[UC Santa Cruz],27,[maggie-mceachen],25.000000,18.729955
1096,Aki Schuessler-Langeheine,aki-schuessler-langeheine,1000.000000,997.933483,[UC Los Angeles],24,[aki-schuessler-langeheine],25.000000,24.200112
1097,Katinka Lennemann,katinka-lennemann,1000.000000,1086.080165,[UC Los Angeles],26,[katinka-lennemann],25.000000,27.882065